<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
  </configSections>
  <indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
    <clientSetting SharedCacheVersionNumber="3.0.5.1" LoggingEnable="0" CompressionEnabled="0" CompressionMinSize="1024000" HashingAlgorithm="Hashing" SocketPoolMinAvailableSize="5" SocketPoolValidationInterval="00:02:00" SocketPoolTimeout="00:02:00"/>
    <!-- 
      Hashing (default - is useless if your envrionment is using different versions of CLR's)
      Ketama
      FvnHash32
      FvnHash64
      -->
    <servers>
      <add key="localhost" ipaddress="127.0.0.1" port="48888"/>
      <!--<add key="Server01-Local"  ipaddress="192.168.1.10" port="48888" />-->
    </servers>
    <replicatedServers>
      <!--<add key="srvzh02"    ipaddress="192.168.212.50" port="48888"/>-->
      <!-- only use this node in case you are using replication mode on server -->
      <!--<add key="Cluster02-Remote"    ipaddress="192.168.1.11" port="48888" />-->
      <!--<add key="Cluster03-Remote"    ipaddress="192.168.1.12" port="48888" />-->
    </replicatedServers>
    <providers>
      <add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon"/>
    </providers>
  </indexusNetSharedCache>
  <appSettings>
    <!--<add key="ADMIN_PATH" value="/"/>-->
    <add key="EnableDataCaching" value="true"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="2"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <!--Report Captcha-->
    <!--<add key="Captcha_Provider" value="anti-captcha.com" />
    <add key="Report_Incorrect_Captcha" value="false" />-->
    <!--Proxy-->
    <!--<add key="Proxy_Source" value="none" />-->
    <!--<add key="Proxy_Source" value="smartproxy.io" />
    <add key="Proxy_Server" value="vn.smartproxy.com:46000" />-->
    <add key="Proxy_Source" value="luminati.io"/>
    <add key="Proxy_Server" value="zproxy.lum-superproxy.io:22225"/>
    <add key="Proxy_List_Contry" value="vn"/>
    <!--<add key="Proxy_List_Contry" value="vn,us,jp,sg,hk" />-->
    <add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-datacenter"/>
    <add key="Proxy_Pass" value="wud8xp4slx75"/>
    <!--add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-static-route_err-block" />
    <add key="Proxy_Pass" value="fuxjiv7btklo" />-->
  </appSettings>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="lAJYXjgh64eUyJ8AUUiZeuAyL2Io16QRKWx/USqt4l8B6sxC8btV/sDjHix0qB6Ymz7te03E0h7K1tfeSCxRsJSfHy49OdURU9NvywujA7DaMS5J89WG9PSCtpHC+w373vg6o53PXFY5U8Ze1lC9+VSWnxkkR80a0zRiY2rBRiwUZQjHyRCf/WDCrwX1iIy1K1RCAvky71+KRXYNOggXL/4yeA36sealHsaPXdlqAgHJiVw90jqZJUDM0hF2YnbrxxhjWSHi2XTj/A5Yn54VsOBm1IorLfwWMiKJLJSro7O6rEeKjM4eZbkysMmtdpnH"/>
    <add name="VPGLogConnectionStrings" connectionString="JcBR3prx4JlyHw1fm50AXhJ37HwoChCCmWeuBS3Avm62HbAl3j+Ofx01AbG+TtIUFhLyxox4mCEzCuCumEW34EVvf50IT3DX37pD6A4hDYIwC8fi/mm4OG5NPD5uziBHmHWczPru8W0MSHY+g6MKKKb4ebPS69tfgF2/PO6CaqFvS9NVd1tpuaLk9Rsqq4p3Opyt3fkjDoLzk1W3xH560+5ZXTQMpmettnXrkaXdBhsLQgnzeYKYwQeQPzXDKJqSMLOilMnK8R5oBAmn2dKMlRJzDKlzU6L5iY6ApFfFFuXtCljOG4Z4uX+7U/UdzIw7"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="KoglCQUyTILLDGl6tCB0QCKVzQYZv08+5NaiaAsQ90Odo7zkvN5YwUfH4//zXKMqtNhi0l34awhnKkfZ2JbgJHLYp7sfUaPM37oRbEvpu7kSbiRTVUOYU4aHUej0FesUHsdBuZxj6DhO1nkz/FBIsBCUaVYtyyoYL6r2OGKp9bvVKqIvlcOTa7tdcfrd5SvWwO2e3Wazi/UAtS520e3yyqIOTPALK7PPR42z51NlBbfwk8jOd/qY+BLR0QjhiYv903QV1jxQJKQ9EYyFQHf2II40DJCLtI+BqQForcGAH1nNN4tz9a+R0iqBePwGZMTs"/>
    <add name="VPGLogReportConnectionStrings" connectionString="+dXMCMDUP6bdha9N97lF58iJzvn4K3AR09l4BQ/5ft0R9HBcwiYpojbL9xHvDHbXiqXxC9Wm//7qRshyFYwTIbH2qpGhouvvQWAuczrgCroadDfgkx1J1dA2uKZSRFoo8gef3m9ZrgZUBFyC+U9VrlPQ9HW8toEUAwCnN1Mwpzecfku8Rsa/49RCXNzA6t8MIThPg/WB9JJLePLj/9bwTXzgqXFsxk0yKcwEdFsRtjk+cXUToTK9dIiBAZJzzmdjqwoi30I0JOG5fhTXckII5Pl3yzmFvBmBAM84fo/BTkfpI6iidv1kdV7Q4xOnxzVq"/>
    <add name="CaptchaConnectionStrings" connectionString="lAS0eckJ0e3WxIowkUlWsSqxoiHI3rm926CXXX+CDW5hA1NnIOFg4qQVsRHFmKSEs7jllkv358Qu4LJsSGXjOes5x9cW1fwnoJpGsWNoJ24BDSTdPO45vn6mioXn7kNi7raESMjjRxUWe+zDBd2v4C9vdbL8w44xI+VJwSaucT/NHHSTtoZoH2eWMXmlBWrghLEi05yNVCA8TSJd4KMO04mPdHMcO4IGpiZNMYTo834vYJIskvR0j7flzP4QMVFnF8DsgYXpVadbvHmhFVHmjUFxdFWy816TyREwvbGW0KISSBb+2BnfaUnbYKC/7vXH"/>
    <add name="CaptchaReportConnectionStrings" connectionString="VNY6kcbhmxNiQ8/0K8BnPXR0Go6z9eePh7YXY6JOOnc7VJv8A5u24p8m+FM2B9U2YcysveMNVjTw3lARdiu0tygAb2V80UWyWcS//7JNEwNK9316wWWJ54ESW6DC95d0cc5zgaetF1DDFbYqRRENu0zQBCjzqouBL2z+kZqyIGgTpDgtbqpB2eAzzyNTYlqO1ekG35hBYzFSQce3U1rhWRRyk8EWxao3Z9iSMgaZ+sZkSAPGlvpJzHxMEUgNMFbOd06EAQKrwBVd12zsJw7vQHvZlFVB5kXOCKFsJ0908lNbLmXT+bCYAmtiybQ7lxL5"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6.2" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <sessionState mode="Off"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: AEAE5381-CCA9-485C-B390-2996145EE463-->