<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="EnableDataCaching" value="true"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="1"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <add key="Mail_Port" value="587"/>
    <add key="Mail_Host" value="smtp.gmail.com"/>
    <add key="Mail_Username" value="bb2dpay@gmail.com"/>
    <add key="Mail_Password" value="RboK/VFENzEnk+GGBjIil9g3oPK6iHfOS8/Wv2A7o8A="/>
    <add key="Mail_SenderEmail" value="bb2dpay@gmail.com"/>
    <add key="Mail_SenderName" value="BB2D Payment"/>
  </appSettings>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="lAJYXjgh64eUyJ8AUUiZeuAyL2Io16QRKWx/USqt4l8B6sxC8btV/sDjHix0qB6Ymz7te03E0h7K1tfeSCxRsJSfHy49OdURU9NvywujA7DaMS5J89WG9PSCtpHC+w373vg6o53PXFY5U8Ze1lC9+VSWnxkkR80a0zRiY2rBRiwUZQjHyRCf/WDCrwX1iIy1K1RCAvky71+KRXYNOggXL/4yeA36sealHsaPXdlqAgHJiVw90jqZJUDM0hF2YnbrxxhjWSHi2XTj/A5Yn54VsOBm1IorLfwWMiKJLJSro7O6rEeKjM4eZbkysMmtdpnH"/>
    <add name="VPGLogConnectionStrings" connectionString="JcBR3prx4JlyHw1fm50AXhJ37HwoChCCmWeuBS3Avm62HbAl3j+Ofx01AbG+TtIUFhLyxox4mCEzCuCumEW34EVvf50IT3DX37pD6A4hDYIwC8fi/mm4OG5NPD5uziBHmHWczPru8W0MSHY+g6MKKKb4ebPS69tfgF2/PO6CaqFvS9NVd1tpuaLk9Rsqq4p3Opyt3fkjDoLzk1W3xH560+5ZXTQMpmettnXrkaXdBhsLQgnzeYKYwQeQPzXDKJqSMLOilMnK8R5oBAmn2dKMlRJzDKlzU6L5iY6ApFfFFuXtCljOG4Z4uX+7U/UdzIw7"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="KoglCQUyTILLDGl6tCB0QCKVzQYZv08+5NaiaAsQ90Odo7zkvN5YwUfH4//zXKMqtNhi0l34awhnKkfZ2JbgJHLYp7sfUaPM37oRbEvpu7kSbiRTVUOYU4aHUej0FesUHsdBuZxj6DhO1nkz/FBIsBCUaVYtyyoYL6r2OGKp9bvVKqIvlcOTa7tdcfrd5SvWwO2e3Wazi/UAtS520e3yyqIOTPALK7PPR42z51NlBbfwk8jOd/qY+BLR0QjhiYv903QV1jxQJKQ9EYyFQHf2II40DJCLtI+BqQForcGAH1nNN4tz9a+R0iqBePwGZMTs"/>
    <add name="VPGLogReportConnectionStrings" connectionString="+dXMCMDUP6bdha9N97lF58iJzvn4K3AR09l4BQ/5ft0R9HBcwiYpojbL9xHvDHbXiqXxC9Wm//7qRshyFYwTIbH2qpGhouvvQWAuczrgCroadDfgkx1J1dA2uKZSRFoo8gef3m9ZrgZUBFyC+U9VrlPQ9HW8toEUAwCnN1Mwpzecfku8Rsa/49RCXNzA6t8MIThPg/WB9JJLePLj/9bwTXzgqXFsxk0yKcwEdFsRtjk+cXUToTK9dIiBAZJzzmdjqwoi30I0JOG5fhTXckII5Pl3yzmFvBmBAM84fo/BTkfpI6iidv1kdV7Q4xOnxzVq"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>