<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <add key="EnableDataCaching" value="true"/>
  <add key="RedisPort" value="6379"/>
  <add key="RedisDB" value="1"/>
  <add key="RedisServer" value="127.0.0.1"/>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="x5Z6Nhs4Pz0uO6hFdTmMGE2eD8TBDV0g7b4YYjL4MojYdiiOG4+lTevHTYH0FZ7CfTpXOcrYV3qND4atjH4zFVf3UTacgv13FK/BtkMginepVaXVwbVhax/A81bjSZVl9sOg1doQSU94BtN40yIruIOYKxFqu4/CGWqEgJcvZdmLK/EfTlWteNVF/I2rN99XRnCwxhnmHeMP0mb946Hn09k26qV4+GSCfZkzQVDq4JmCgWRd+GnOR7jK21snJjSH0fHxodhRz6oJ8IyO1Yd/dN/g4hkI4wVMToijf26/KpeeTIhE78930c5OixKU59iS"/>
    <add name="VPGLogConnectionStrings" connectionString="xIlu7x9u/99ZFnclRV5//ZVwOZalfFUQbgITKBeEb+In9fEll1fI2Bun9rrsSJ0DgSRx+i6asa4rBS9kwaOa/BwwX9izfUSZDsZs/x8Q6xjZRN5OgUNDeJ4esI4Biaz7zuywjGM1LnXTVmruVtt+dU9IWbTO1G5OYV1R8dUrPZBZcf8La7qkFQ85GiXmqARwPAS7DBVhVAAGXSn11EKMmZ18a1AVZiAItmYpJKrDzQZM5vRJLS1r9Y73jRep1bsQDXKnnhjsK4dQbdbt819nhWGuwm3tDwx/XgrlVbfKKltIUzdWcMxLb1GKoDjcO6RZ"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="x5Z6Nhs4Pz0uO6hFdTmMGE2eD8TBDV0g7b4YYjL4MojYdiiOG4+lTevHTYH0FZ7CfTpXOcrYV3qND4atjH4zFVf3UTacgv13FK/BtkMginepVaXVwbVhax/A81bjSZVl9sOg1doQSU94BtN40yIruIOYKxFqu4/CGWqEgJcvZdmLK/EfTlWteNVF/I2rN99XRnCwxhnmHeMP0mb946Hn09k26qV4+GSCfZkzQVDq4JmCgWRd+GnOR7jK21snJjSH0fHxodhRz6oJ8IyO1Yd/dN/g4hkI4wVMToijf26/KpeeTIhE78930c5OixKU59iS"/>
    <add name="VPGLogReportConnectionStrings" connectionString="xIlu7x9u/99ZFnclRV5//ZVwOZalfFUQbgITKBeEb+In9fEll1fI2Bun9rrsSJ0DgSRx+i6asa4rBS9kwaOa/BwwX9izfUSZDsZs/x8Q6xjZRN5OgUNDeJ4esI4Biaz7zuywjGM1LnXTVmruVtt+dU9IWbTO1G5OYV1R8dUrPZBZcf8La7qkFQ85GiXmqARwPAS7DBVhVAAGXSn11EKMmZ18a1AVZiAItmYpJKrDzQZM5vRJLS1r9Y73jRep1bsQDXKnnhjsK4dQbdbt819nhWGuwm3tDwx/XgrlVbfKKltIUzdWcMxLb1GKoDjcO6RZ"/>
  </connectionStrings>
</configuration>