<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="EnableDataCaching" value="true"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="2"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <!--Proxy-->
    <add key="Proxy_Source" value="smartproxy.io"/>
    <!--<add key="Proxy_Source" value="luminati.io" />-->
    <add key="Proxy_Server" value="zproxy.lum-superproxy.io:22225"/>
    <!--<add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-static-route_err-pass_dyn-country-vn" />
    <add key="Proxy_Pass" value="fuxjiv7btklo" />-->
    <!--<add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-datacenter-route_err-pass_dyn-country-vn" />
    <add key="Proxy_Pass" value="wud8xp4slx75" />-->
    <add key="Proxy_List_Contry" value="vn,us,jp,sg,hk"/>
    <add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-datacenter-route_err-block"/>
    <add key="Proxy_Pass" value="wud8xp4slx75"/>
    <!--Pre Sub fix-->
    <add key="Pass_Prefix" value="q"/>
    <add key="Pass_Suffix" value="@w"/>
  </appSettings>
  <connectionStrings>
    <add name="CaptchaConnectionStrings" connectionString="Ia20llO1b0L1iQ9NHxdAsDNIbecvQGUcsBoQ5afgpY/qFzXpRwRezSyzjMOAclhDwa/cEtlU3+JxMRaslMZEFRfLtZf5tHIx5hNJUR3nbqr3hQGkzklxXJPVtacJ6UJfR5mNWqZI4iOOApydo0rtXzZ4kGVKTzEgj2AJ1SqhUok+Ynb3BCNFsEZCZJGexnW2EYiRUZFIM4yPVZUqT9QNHTQlrv59EXThWgUdbYUHFrbPfc/o2gUohLLwBkyS/QoIAM1wwc8aAaqycCcE9V3ak/jip/afwq8YkbzmOjOuK8PsfAqVXzvolExC55iMchde"/>
    <add name="CaptchaReportConnectionStrings" connectionString="HyWhOwnD3SCDlhY/LLeF4gui/nMyM151CdKFV1ZRG4ky29NEENKCP3/EpQ5m71LsyWz1BiSwUYZp3xfNzelKQgM0/uZKKQ6LNRNseqhKg+xnbyazHN0cRdDEmEbmvEHjVjaK6vEu/7foSkKemrnrn6icyw110gRHpq7Yc9wLHyQ/12N6+ZBTeNGTswfHt/nO81osQBlYXcF46LDRCZF9JliMbY1M2XoGvVG36QEihN0ceP7IbARxOF2eGhWef3whPkcS59p/tyI0HnXkEJRBb3x0iZz5Rff8OTykdzv2XhI9Wi5LxMb3zepJ7eLaIMmS"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="CaptchaConnectionStrings" connectionString="VMmr6iMrzEuUgLYL8mpl1KRSdYnw3O7jDeVac/YBPAmWr5ta/MnuGm8i+GE7SsVN99sB4Obin9sOAFTRZW15STzafgmTaAHCzkxBEo6As11Ol8j3K+1i5JH63gFJjxGR3fzA+oiIK+Hd/jqE47S62xu31D3gvMJ5t5KxHaJ23pgzhX9ska1IPIa2KdZcy3q5j5P+XKR9TJyDayfuvQRW0uFpSzqpoGYrAYg14Yht9Wt7Nc3NYVnYys5tRCEUdNhJFUAJbp0tdNbD+zdx9QG+/u8315CZZZOEVnLeI9f0xi7vIlLvcnsZhGths7s9fX9b" />
    <add name="CaptchaReportConnectionStrings" connectionString="HyWhOwnD3SCDlhY/LLeF4gui/nMyM151CdKFV1ZRG4ky29NEENKCP3/EpQ5m71LsyWz1BiSwUYZp3xfNzelKQgM0/uZKKQ6LNRNseqhKg+xnbyazHN0cRdDEmEbmvEHjVjaK6vEu/7foSkKemrnrn6icyw110gRHpq7Yc9wLHyQ/12N6+ZBTeNGTswfHt/nO81osQBlYXcF46LDRCZF9JliMbY1M2XoGvVG36QEihN0ceP7IbARxOF2eGhWef3whPkcS59p/tyI0HnXkEJRBb3x0iZz5Rff8OTykdzv2XhI9Wi5LxMb3zepJ7eLaIMmS" />
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>