<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="CaptchaConnectionStrings" connectionString="VMmr6iMrzEuUgLYL8mpl1KRSdYnw3O7jDeVac/YBPAmWr5ta/MnuGm8i+GE7SsVN99sB4Obin9sOAFTRZW15STzafgmTaAHCzkxBEo6As11Ol8j3K+1i5JH63gFJjxGR3fzA+oiIK+Hd/jqE47S62xu31D3gvMJ5t5KxHaJ23pgzhX9ska1IPIa2KdZcy3q5j5P+XKR9TJyDayfuvQRW0uFpSzqpoGYrAYg14Yht9Wt7Nc3NYVnYys5tRCEUdNhJFUAJbp0tdNbD+zdx9QG+/u8315CZZZOEVnLeI9f0xi7vIlLvcnsZhGths7s9fX9b"/>
    <add name="CaptchaReportConnectionStrings" connectionString="HyWhOwnD3SCDlhY/LLeF4gui/nMyM151CdKFV1ZRG4ky29NEENKCP3/EpQ5m71LsyWz1BiSwUYZp3xfNzelKQgM0/uZKKQ6LNRNseqhKg+xnbyazHN0cRdDEmEbmvEHjVjaK6vEu/7foSkKemrnrn6icyw110gRHpq7Yc9wLHyQ/12N6+ZBTeNGTswfHt/nO81osQBlYXcF46LDRCZF9JliMbY1M2XoGvVG36QEihN0ceP7IbARxOF2eGhWef3whPkcS59p/tyI0HnXkEJRBb3x0iZz5Rff8OTykdzv2XhI9Wi5LxMb3zepJ7eLaIMmS"/>
  </connectionStrings>
</configuration>
