<?xml version="1.0"  encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>

    <target name="console" xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"  />
    
    <target name="file1" xsi:type="File" fileName="${basedir}/_LOG/${date:format=yyyyMMdd}_news_Info.log"
    layout="${date}: ${message}"  encoding="utf-8"  />

    <target name="file2" xsi:type="File" fileName="${basedir}/_LOG/${date:format=yyyyMMdd}_news_Debug.log"
   layout="${date}: ${message}"   encoding="utf-8"  />

    <target name="file3" xsi:type="File" fileName="${basedir}/_LOG/${date:format=yyyyMMdd}_news_Error.log"
   layout="${date}: ${message}" encoding="utf-8"  />

  
  

  </targets>

  <rules>
   
    <logger name="*" levels="Error"  writeTo="file3" />
    <logger name="*" levels="Debug"  writeTo="file2" />
    <logger name="*" levels="Info" writeTo="file1" />

    

  </rules>

</nlog>