<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=TokenAuthenticationDB;Persist Security Info=True;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
    <add name="VPGAPIConnectionStrings" connectionString="/4X9tPtKsZXRhY9iCZC/7wgVWu0iq9W9yc48OxBSNhq+W9bMgUxEBYEInhbGftCzzByX3oYB3D+d2NSqBedbz5iLDp7YKvdnuRowXII3AfHkNKCfQ33kheQjqW1muGs3yFARBCWDs8tlEVUtR/X03epXaM52sEi/hGJxcK5BTF2sOV+Nt1Vu0TSN1P800DDI+k/THPtvAY2DiED+rbMfefh4z8/TZdtLbsdDys8qbgb/39/F77B3TAOzHodS9F/YBwwOGzjepivMXfZBbWASvjdYy/GsZDHwDUSMpVCAiKKVOpNJVhMlTZfe+wQWgI2E"/>
    <add name="VPGLogConnectionStrings" connectionString="W2/byT+xd6QjK4vzn7pzuaR1KJLK8+4+AMqtIxOkI5i5wqLnVR206b4JK/t+UFxyKS7MPSMpisJrPQwiNPDf4kCbOipglYVDboLI/XnndgAeFw7qbVvOihd20i1lX2s4tfKpyC8v/L5xrLMpQ6oauwtdRtbFqr8SEVoBxL3vwNmegs9eP4+A9CciUCNSfql5LU0JpSVKwLmjelTOrFMKnMQVj07EYm1i6Rdk2JBoCWzepQAh8tQuYuBLrtGYuZ76Eqgs+J2I4uw5cJc4fi/X4xTOuYtsy5hNnZ4qq5xGU0RInrlso5Jrq2ciS06FYaEf"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="0jVexVvoC8wQNXz/U3zrHFTY19fCjmxStc89pmJ4zBZwcwlVp5VXstDyn16vMnbalhDfy+sxwWpwM7IKu2z3kvuNXijsMSXTb9zpMnR0MSGfzvygG1iVHwdlMefT0qrfa9+dnGrD5Ni7svrdRengn7i7/rf44ptcFHG5Y26D47svd+fgmLut/jQPx4g9xmcsca1TI2ZxADFgGu6bVq/vNfmnaTEDF+oCSxZnrSTI/Wz8ZeRHIigXWk7+4VV+wolJbwbdtljiUrI0DGQjni1bfMMIzV2LGG6QVfX/czNaBN2AkreCvLeZtntIGlfscFDW"/>
    <add name="VPGLogReportConnectionStrings" connectionString="ZvG4ytd+b+vrTqvwjIBoi/fLn+7aM7gtkvmXrLioFJjprrDqPTgSVnBayqXpviP4xiXCE2+wJ5LcWKxBjNPWL3HeGnnssOVBtDSAKuW9XflVE4TXS9OMdzQgcHZPFp0a5Qzxhro7WSUDPp08F/Tz1QXGHyyeAhOi39Wzh2XM1DwqCSN3QJHwGrPCMfSGNscoyDCbyt1/cESCE92BQ7U1yUP8stgdM82WUuOV5KsAj+nZlFdhGtbxMKuXj3KmQAZ23xkfVIJqiKLZBHQAqqf4big0NVIx4286H9mI8TkZSHqdvMaqxCwYKDM1JVAOeDSs8C4LfiLyCki53gm7CQ30uA=="/>
    <add name="CardStoreConnectionStrings" connectionString="23ITh8r1JW5uCIYpSrCucJhnHm+p4pA/2/Lo8/QgBhqRQ7kkRAOn2IvA3L8d8e9U6gVpj5LHTy8FfgIenlRiICSqOg8lhX1UodF3mB7QU32cgVHwCtqEufe3rLrKXcaQ+P2xucVSxiPp898ggFZQuR5dtpbuBa2gKCM/SLCn/99RnMgfjqVrBw+XX5CfTPshbNdAUNOuTl74bqeB2Ro8HrxdV5fy2yF5aa982sIEK3jg1LZ6X2JriRI0zmGMqaiMR72tCE1cn7Nho4KRqg9FXSr65LV5zRZ3YGlbC7Xg585PXgYzz93VgL7Rl5mpa4CI"/>
    <add name="CardStoreReportConnectionStrings" connectionString="kMptC0P09zLHCNH3I9N+J10GBPTtyOum1uru5ELma7eEDtSY2HOP5eiMw/ZJcHQIzOGgNA8Fx+VesSlYgAyhOzMiZzm2+0qdGJmg1HwI+xAVO38vq5cE9yOuzhSH67X0Tmb2aWx0k679wD4j8o7frP99nMRsg0YOQaSvrF7cL+WzNG2Act7LaJsbRXdm9TToKn4pWaR/gDQYGDVwSSSC1foitouxzxsdvNNZOd804Pj7nAythJFaFLVuRTau1OAyzjaJHF9xluppPP0zcnVaYSTmrEtToJ7DUBY4hJGknjh362sfDlggTUDUDZkI0zvv"/>
  </connectionStrings>
  <appSettings>
    <!--Cache-->
    <add key="EnableDataCaching" value="false"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="1"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <!--End Cache-->

    <!--FailOver-->
    <!--<add key="NAME_CHECK" value="Payment" />
    <add key="ENABLE_FAIL_OVER" value="true" />
    <add key="PROCESS_INTERVAL" value="0.2" />
    <add key="TOP_RAW_CHECK" value="20" />
    <add key="CARD_TYPE_CHECK" value="viettel|vms|vnp" />-->
    <!--End FailOver-->

    <!--Auto BuyCard-->
    <add key="PROCESS_INTERVAL" value="5"/>
    <add key="CARD_PER_REQUEST" value="100"/>
    <!--End Auto BuyCard-->



  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
