<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="ADMIN_PATH" value="/"/>-->
    <add key="EnableDataCaching" value="true"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="2"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <!--Proxy-->
    <add key="Proxy_Source" value="luminati"/>
    <add key="Proxy_Server" value="zproxy.lum-superproxy.io:22225"/>
    <add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-static-route_err-pass_dyn-country-vn"/>
    <add key="Proxy_Pass" value="fuxjiv7btklo"/>
    <!--<add key="Proxy_User_Name" value="lum-customer-hl_37347aa4-zone-datacenter-route_err-pass_dyn-country-vn" />
    <add key="Proxy_Pass" value="wud8xp4slx75" />-->
    <add key="Get_Balance_Type" value="bal"/>
    <add key="Get_Balance_Type" value="his"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="lAJYXjgh64eUyJ8AUUiZeuAyL2Io16QRKWx/USqt4l8B6sxC8btV/sDjHix0qB6Ymz7te03E0h7K1tfeSCxRsJSfHy49OdURU9NvywujA7DaMS5J89WG9PSCtpHC+w373vg6o53PXFY5U8Ze1lC9+VSWnxkkR80a0zRiY2rBRiwUZQjHyRCf/WDCrwX1iIy1K1RCAvky71+KRXYNOggXL/4yeA36sealHsaPXdlqAgHJiVw90jqZJUDM0hF2YnbrxxhjWSHi2XTj/A5Yn54VsOBm1IorLfwWMiKJLJSro7O6rEeKjM4eZbkysMmtdpnH"/>
    <add name="VPGLogConnectionStrings" connectionString="JcBR3prx4JlyHw1fm50AXhJ37HwoChCCmWeuBS3Avm62HbAl3j+Ofx01AbG+TtIUFhLyxox4mCEzCuCumEW34EVvf50IT3DX37pD6A4hDYIwC8fi/mm4OG5NPD5uziBHmHWczPru8W0MSHY+g6MKKKb4ebPS69tfgF2/PO6CaqFvS9NVd1tpuaLk9Rsqq4p3Opyt3fkjDoLzk1W3xH560+5ZXTQMpmettnXrkaXdBhsLQgnzeYKYwQeQPzXDKJqSMLOilMnK8R5oBAmn2dKMlRJzDKlzU6L5iY6ApFfFFuXtCljOG4Z4uX+7U/UdzIw7"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="uxu+q0pGfCJDpm6buPCR0QewOdqXsFDBWXtW9Gqiv6URRskVCoaN+iICEOQPfiTXDKaG25zch+lxKEe/36ZZ+0Wwjqr4a2H/l2iMbRcn74wPY0rRilLG7dM855a19zvjm11uLmbA8CoGhpFR+Y6qpkDKT2uRGCp9XIHnQ+gkWwuVDJzZiJ+Av7fPfGmwjnhcf10AuJuNMCJpudx9/lfC2N6CQJJ6bOA0lWxS7cTLLBu9YNwKF3RMQpO41qMArSjGYDCvFTUFa9WPkSlFB6En8ALWSmCwgwCKKVRKRr+1UHNhXS9SZznvY+fO4+edbLhl"/>
    <add name="VPGLogReportConnectionStrings" connectionString="KjShCC7E9fJS8wLdiwlUnXE2Yd0m5ZyAb73X0t4iBEex0Rl3nhEebFXy9V0hksXEX5OWYwlNzWkF1eam0zsU7ABfvA5Rq8SZWpU4b3v15xKHcm5qpW1ZqlpmXrLQskPFKRUz+B3m1D8CGccye/mYgPYy/2rREm6FY6Do020WIOKKCSaYHon3tbLCS4Brq/2caDY77xR8tak1aE2qXIvpHIdBtX/WALonPguTYXQ6Z4xg0PWHejiv3dms8fcf7iiK+gzKX4SjBztx+oK67lmoUQEqa7MuJc06ezA6u2Oo0sXoIlpaUwA3OLbTOtCBU4uf"/>
    <add name="CaptchaConnectionStrings" connectionString="lAS0eckJ0e3WxIowkUlWsSqxoiHI3rm926CXXX+CDW5hA1NnIOFg4qQVsRHFmKSEs7jllkv358Qu4LJsSGXjOes5x9cW1fwnoJpGsWNoJ24BDSTdPO45vn6mioXn7kNi7raESMjjRxUWe+zDBd2v4C9vdbL8w44xI+VJwSaucT/NHHSTtoZoH2eWMXmlBWrghLEi05yNVCA8TSJd4KMO04mPdHMcO4IGpiZNMYTo834vYJIskvR0j7flzP4QMVFnF8DsgYXpVadbvHmhFVHmjUFxdFWy816TyREwvbGW0KISSBb+2BnfaUnbYKC/7vXH"/>
    <add name="CaptchaReportConnectionStrings" connectionString="VNY6kcbhmxNiQ8/0K8BnPXR0Go6z9eePh7YXY6JOOnc7VJv8A5u24p8m+FM2B9U2YcysveMNVjTw3lARdiu0tygAb2V80UWyWcS//7JNEwNK9316wWWJ54ESW6DC95d0cc5zgaetF1DDFbYqRRENu0zQBCjzqouBL2z+kZqyIGgTpDgtbqpB2eAzzyNTYlqO1ekG35hBYzFSQce3U1rhWRRyk8EWxao3Z9iSMgaZ+sZkSAPGlvpJzHxMEUgNMFbOd06EAQKrwBVd12zsJw7vQHvZlFVB5kXOCKFsJ0908lNbLmXT+bCYAmtiybQ7lxL5"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>