<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="9nf0nfsanGulJSsHm81Q6F19UtHCqwIkZEqjry66WCYfPsjV93YNVMoDb8WlqB2O2pB8AxvYkzb/QAw76fVoOWoap/7hmho8iLphDNLDxYyL2NsrbknOUeEh4m3+UNsVVFi050kytQ0l7bqqsSu/nriVoge3rdE7kQbOLTa1MjLtoQrnBBzt67Qq1xK7JQTNfnOcknSb7g+84BFlQiZBr84ZEbeW+DwKgDZ1BSpBtfKt4coPLJ7b9a8JFuUkPiHr5X+LtcPy3QqW2Ha0F5Cvb0ems89kO3Tquia3YhY/3i0WI0YtmmaY9+PpIICU8rDs" providerName="System.Data.SqlClient"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="0jVexVvoC8wQNXz/U3zrHFTY19fCjmxStc89pmJ4zBZwcwlVp5VXstDyn16vMnbalhDfy+sxwWpwM7IKu2z3kvuNXijsMSXTb9zpMnR0MSGfzvygG1iVHwdlMefT0qrfa9+dnGrD5Ni7svrdRengn7i7/rf44ptcFHG5Y26D47svd+fgmLut/jQPx4g9xmcsca1TI2ZxADFgGu6bVq/vNfmnaTEDF+oCSxZnrSTI/Wz8ZeRHIigXWk7+4VV+wolJbwbdtljiUrI0DGQjni1bfMMIzV2LGG6QVfX/czNaBN2AkreCvLeZtntIGlfscFDW"/>
    <add name="VPGLogReportConnectionStrings" connectionString="ZvG4ytd+b+vrTqvwjIBoi/fLn+7aM7gtkvmXrLioFJjprrDqPTgSVnBayqXpviP4xiXCE2+wJ5LcWKxBjNPWL3HeGnnssOVBtDSAKuW9XflVE4TXS9OMdzQgcHZPFp0a5Qzxhro7WSUDPp08F/Tz1QXGHyyeAhOi39Wzh2XM1DwqCSN3QJHwGrPCMfSGNscoyDCbyt1/cESCE92BQ7U1yUP8stgdM82WUuOV5KsAj+nZlFdhGtbxMKuXj3KmQAZ23xkfVIJqiKLZBHQAqqf4big0NVIx4286H9mI8TkZSHqdvMaqxCwYKDM1JVAOeDSs8C4LfiLyCki53gm7CQ30uA=="/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
