<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="EnableDataCaching" value="true"/>
    <add key="RedisPort" value="6389"/>
    <add key="RedisDB" value="1"/>
    <add key="RedisServer" value="118.70.207.6"/>
    <add key="Mail_Port" value="587"/>
    <add key="Mail_Host" value="smtp.gmail.com"/>
    <add key="Mail_Username" value="bb2dpay@gmail.com"/>
    <add key="Mail_Password" value="RboK/VFENzEnk+GGBjIil9g3oPK6iHfOS8/Wv2A7o8A="/>
    <add key="Mail_SenderEmail" value="bb2dpay@gmail.com"/>
    <add key="Mail_SenderName" value="BB2D Payment"/>
  </appSettings>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="kFFGoUuFhdc2Y2JLZXDzMZ+WLNbiNsRf4cQVwxvIpds+/Vcj8FiTTikVRZWtnoekMqGKasSY7A7FzVz0sjqjENjZnYfja90ccmv9vqqtMfK83cmSDJBKA4irj5nHGhZfkpz3HxxQTcm/OR7HPZoLr+zYrr4bGiWi0oh4/MceAMU="/>
    <add name="VPGLogConnectionStrings" connectionString="8zL3lspOSyvMZ5OG2azg0H7YUUlnFIcvFgDKI9FL17rZ9Lff87IvuxyMwTj3T5BDXR8IckT2bmwDzt57pqQ8Kbo623k2T2W5ac64Z8AbnFYFf1vERXDa7unu6DFjg0euCFZvkcfsShzLetdly84tQDaLcpIENOK29Glam7ARwaY="/>
    <!--<add name="VPGPaymentsConnectionStrings" connectionString="tseonf50Ru44uwPgeLw3O7uEx5e6fN05iFP1+jsgLsRq7E+8mYwTBEkl7bnmyq9X3+9HrpChpNNrEB78nIZPh1L2sILlXFUfSmI7BpUeUvV0on+BaxcLDYxFEY1j3R/y75ZGwxTEQvrND7vInA7BzQ=="/>-->
    <!--<add name="VGGProfileAPIConnectionStrings" connectionString="eGFA61AdMl8G11pd5HxF0HwjSVCSfjUN6xpygXTnh5b9kTFfkY5sBrbRGDnvW0es8MrIC0iQlsT3NT6nnlZjtl8X1oKinOKSJumwIxJ4fqSxYpHZVgfYjxqmiV/u9u1CC0c37nykcqpNDpIHC9GCIA=="/>-->
    <!--<add name="VGGBillingAPIConnectionStrings" connectionString="ClRYYTf+hLjIPmpvMiTD94xStogHGCdy0hyKP+uED0O+a2L5ogj9SyRGMM4k3ygCZzpRKodR9uqKDYi7hh7Pyo4WPoOWj6pi0nybFwMtJp1HtPYU+/V9Mcjt8pCPJAJjan7A1GaXwIFPniRbWSgstg=="/>
    <add name="VGGProfileAPISysPartnerKey" connectionString="uwHlsMV5FAzeiIConFKySw5rov+EBPFN4Rmgwn4tNzNeS9x1kHe0rAAxLkm+Viux"/>
    <add name="VGGBillingLogConnectionStrings" connectionString="bNjyqjRZVVP+Sch0xOUch9HiQa6aVkIVBju6RIWgPMy1xXWCBytDGCbm1KbDtJDL7lC/h32Q+FCGvaBsvDQ2bwAz/gGmNI1ZJ12aVzZGukvxfEr3Gh05O7eNPXuBKIeuYB5soqnOHeqcZX2GUg63/Q=="/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ep1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://103.255.238.41:9090/VinaCardService.svc" binding="basicHttpBinding" bindingConfiguration="ep1" contract="CardService.IVinaCardService" name="ep1"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>