<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="kFFGoUuFhdc2Y2JLZXDzMZ+WLNbiNsRf4cQVwxvIpds+/Vcj8FiTTikVRZWtnoekMqGKasSY7A7FzVz0sjqjENjZnYfja90ccmv9vqqtMfK83cmSDJBKA4irj5nHGhZfkpz3HxxQTcm/OR7HPZoLr+zYrr4bGiWi0oh4/MceAMU="/>
    <add name="VPGLogConnectionStrings" connectionString="8zL3lspOSyvMZ5OG2azg0H7YUUlnFIcvFgDKI9FL17rZ9Lff87IvuxyMwTj3T5BDXR8IckT2bmwDzt57pqQ8Kbo623k2T2W5ac64Z8AbnFYFf1vERXDa7unu6DFjg0euCFZvkcfsShzLetdly84tQDaLcpIENOK29Glam7ARwaY="/>
    <add name="VPGAPIReportConnectionStrings" connectionString="kFFGoUuFhdc2Y2JLZXDzMZ+WLNbiNsRf4cQVwxvIpds+/Vcj8FiTTikVRZWtnoekMqGKasSY7A7FzVz0sjqjENjZnYfja90ccmv9vqqtMfK83cmSDJBKA4irj5nHGhZfkpz3HxxQTcm/OR7HPZoLr+zYrr4bGiWi0oh4/MceAMU="/>
    <add name="VPGLogReportConnectionStrings" connectionString="8zL3lspOSyvMZ5OG2azg0H7YUUlnFIcvFgDKI9FL17rZ9Lff87IvuxyMwTj3T5BDXR8IckT2bmwDzt57pqQ8Kbo623k2T2W5ac64Z8AbnFYFf1vERXDa7unu6DFjg0euCFZvkcfsShzLetdly84tQDaLcpIENOK29Glam7ARwaY="/>

    <add name="CardStoreConnectionStrings" connectionString="jZDDO4SVRhpR7ttB9MQTZXIJcpiLxZgJX1YRZ4571f2ODIhesAy1xRAI5s8MPr444kjDIZsYx1Ur6MCE7QZ4t1cbUAnKQr5OLJag6rSYsNCPKfuFPS8MhB9tbgS7a88Q9aCOMRfiyTlfVc2YcNIcbw=="/>
    <add name="CardStoreReportConnectionStrings" connectionString="jZDDO4SVRhpR7ttB9MQTZXIJcpiLxZgJX1YRZ4571f2ODIhesAy1xRAI5s8MPr444kjDIZsYx1Ur6MCE7QZ4t1cbUAnKQr5OLJag6rSYsNCPKfuFPS8MhB9tbgS7a88Q9aCOMRfiyTlfVc2YcNIcbw=="/>
    
  </connectionStrings>
  <appSettings>
    <!--Cache-->
    <add key="EnableDataCaching" value="false"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="1"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <!--End Cache-->

    <!--FailOver-->
    <!--<add key="NAME_CHECK" value="Payment" />
    <add key="ENABLE_FAIL_OVER" value="true" />
    <add key="PROCESS_INTERVAL" value="0.2" />
    <add key="TOP_RAW_CHECK" value="20" />
    <add key="CARD_TYPE_CHECK" value="viettel|vms|vnp" />-->
    <!--End FailOver-->

    <!--Auto BuyCard-->
    <add key="PROCESS_INTERVAL" value="5"/>
    <add key="CARD_PER_REQUEST" value="100"/>
    <!--End Auto BuyCard-->

    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
