<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <!--<add key="HOME_ROOT" value="http://localhost:61870/" />
    -->
    <!--2013-11-14: Smartlink-->
    <!--
    <add key="Smartlink_UrlCheckOut" value="https://payment.napas.com.vn/vpcpay.do" />
    <add key="Smartlink_Version" value="1.1" />
    <add key="Smartlink_Locale" value="vn" />
    <add key="Smartlink_Command" value="pay" />
    <add key="Smartlink_Currency" value="VND" />
    <add key="Smartlink_Merchant" value="VGG" />
    <add key="Smartlink_AccessCode" value="V1G2G3" />
    <add key="Smartlink_SecretKey" value="9F6F390C9F79FB8FB57A03077858C876" />
    <add key="Smartlink_ReturnURL" value="https://api.vgg.vn/bankgate/pages/smartlink/smartlink.return.aspx" />
    <add key="Smartlink_BackURL" value="https://id.vgg.vn/nap-gg/nap-qua-ngan-hang-vi-dien-tu/" />-->
  </appSettings>
  <connectionStrings>
    <!--<add name="VPGAPIConnectionStrings" connectionString="ZGAFboRcIv+MXZbfeXNm2sD/NEJn3q3brKSUP9ySjmvj9XLQZ4O0u3Td0AUznJWssO69lqcP2COIJ7hlPlUA2apicuTlv3R953XH+A8UbJEYJOrKJiE06vMfzdZ85M5H3MXiwUIN2lCT60xDlt7GibOigSSRyQ07KE3yABjjULc=" />
    <add name="VPGLogConnectionStrings" connectionString="zfY/OKPh8uYtHRPKku9MUHdkS1NG9UP9v3uBLR9gAC3PsBdyXU/BCzNFV3lgYwa73AgtbVCXGs1TOr3Wr4Ss41AxwPqUCYUaps3Dw/xEKiWbgDpa7YzEfnMXaKNJz/siF6XR/AS5a2wxVt6yhcS6V6alp3P/UDo2Vqyvyn6ofoQ=" />-->
    <add name="VPGAPIConnectionStrings" connectionString="lAJYXjgh64eUyJ8AUUiZeuAyL2Io16QRKWx/USqt4l8B6sxC8btV/sDjHix0qB6Ymz7te03E0h7K1tfeSCxRsJSfHy49OdURU9NvywujA7DaMS5J89WG9PSCtpHC+w373vg6o53PXFY5U8Ze1lC9+VSWnxkkR80a0zRiY2rBRiwUZQjHyRCf/WDCrwX1iIy1K1RCAvky71+KRXYNOggXL/4yeA36sealHsaPXdlqAgHJiVw90jqZJUDM0hF2YnbrxxhjWSHi2XTj/A5Yn54VsOBm1IorLfwWMiKJLJSro7O6rEeKjM4eZbkysMmtdpnH"/>
    <add name="VPGLogConnectionStrings" connectionString="JcBR3prx4JlyHw1fm50AXhJ37HwoChCCmWeuBS3Avm62HbAl3j+Ofx01AbG+TtIUFhLyxox4mCEzCuCumEW34EVvf50IT3DX37pD6A4hDYIwC8fi/mm4OG5NPD5uziBHmHWczPru8W0MSHY+g6MKKKb4ebPS69tfgF2/PO6CaqFvS9NVd1tpuaLk9Rsqq4p3Opyt3fkjDoLzk1W3xH560+5ZXTQMpmettnXrkaXdBhsLQgnzeYKYwQeQPzXDKJqSMLOilMnK8R5oBAmn2dKMlRJzDKlzU6L5iY6ApFfFFuXtCljOG4Z4uX+7U/UdzIw7"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="KoglCQUyTILLDGl6tCB0QCKVzQYZv08+5NaiaAsQ90Odo7zkvN5YwUfH4//zXKMqtNhi0l34awhnKkfZ2JbgJHLYp7sfUaPM37oRbEvpu7kSbiRTVUOYU4aHUej0FesUHsdBuZxj6DhO1nkz/FBIsBCUaVYtyyoYL6r2OGKp9bvVKqIvlcOTa7tdcfrd5SvWwO2e3Wazi/UAtS520e3yyqIOTPALK7PPR42z51NlBbfwk8jOd/qY+BLR0QjhiYv903QV1jxQJKQ9EYyFQHf2II40DJCLtI+BqQForcGAH1nNN4tz9a+R0iqBePwGZMTs"/>
    <add name="VPGLogReportConnectionStrings" connectionString="+dXMCMDUP6bdha9N97lF58iJzvn4K3AR09l4BQ/5ft0R9HBcwiYpojbL9xHvDHbXiqXxC9Wm//7qRshyFYwTIbH2qpGhouvvQWAuczrgCroadDfgkx1J1dA2uKZSRFoo8gef3m9ZrgZUBFyC+U9VrlPQ9HW8toEUAwCnN1Mwpzecfku8Rsa/49RCXNzA6t8MIThPg/WB9JJLePLj/9bwTXzgqXFsxk0yKcwEdFsRtjk+cXUToTK9dIiBAZJzzmdjqwoi30I0JOG5fhTXckII5Pl3yzmFvBmBAM84fo/BTkfpI6iidv1kdV7Q4xOnxzVq"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>