<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="ADMIN_PATH" value="/"/>-->
    <add key="ADMIN_PATH" value="/"/>
    <add key="EnableDataCaching" value="true"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="1"/>
    <add key="RedisServer" value="127.0.0.1"/>
    <add key="Momo_Service" value="http://149.28.130.246:9001/MomoService.ashx"/>
  </appSettings>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="r04Sbsz7OfBuEszI+rA8s2LXt/WKY8R2AjflDJL5+ZyOaB1RA+w44GqB8kZe1Wp4M4h+LboqW0a50RV5+D9Le8i7/bk2sQewnOcaQtxVJO/NDjmPp3ksOuLZJrTdxFIHgUw0JKYGixyWQL5yKjEN3zaWpPJGRfbgh8LSNPxreoyINY5YCYS/GMSxokzeVnQZVXTHkUNSL2w5kpdZZRreRn7moka8aiIOy2ur2P14NJ8q9nT5mNL7cBfRTRuTFb0YtNTj51MG7ledhY1nI4bQNOCPexbD3IF4OJsKlS7QK/iJJAT0kFQzruBmCS16mXrI"/>
    <add name="VPGLogConnectionStrings" connectionString="aZHhGQDrWqtg0o0CH4sV4E39RwxcbJ/iE6eZeWaHw5OusDI5GFhxY1JmKAgHE3gKdYGaxYa93sIaQfnZKWg3hp8IuXA5V+b8uR+2zS8aEUG/TPGc+uvIRTbOmRaikl9h6Qjkk6yKUEFtnYYbIMPL19vxOVBlVMKlUmfQFdiEdxNM+MiduWfuVGX62lny4jlVxCO7jQfT6nGtzKJNAPGrzUYGHVPVL860VaZ+aFYOOk7EsMw5q/noB64sZaXbhq7euZ2aTZMYaNPGXwLISEUp94vN53xElSNWJjANJ5sNVzpv/j4A9h2mHf3t6uTsEY6h"/>
    <add name="VPGAPIReportConnectionStrings" connectionString="PvmhxkCTQH8UWKix/MgiVobmzEzQIgKGGZnqxb4odhraF7Non3+QmLMziS0GnIulSBAGCLpOglWwT3ASQhFEbsqFUrFnRsS3UU9bqU6FB+y4AgLmXb4kygoQlxmBsT0kcKt2hqIYjwGzSEu7faepZaPGiwqIhowZBC5N6i572Aor+v3GsKl08fWV7BCkMSLxtEiOCrdHY5IjwEzXBc+KdLN7JzGEluWIBGso1YArAhLbb5547ZbDwFgLr9RHrPG7HqXgEdBINazqhQWRE5qAuLyxiXApqR2keXO1MIgiXjWId/Wvf972nVTu0SmAyJX1"/>
    <add name="VPGLogReportConnectionStrings" connectionString="1h6HkltWYNA4w3OS0jPAWExK4KNlaJFVwT9P3jVKCFnr/6XYVFEiqpzMAGDu3ojDsMQc7+VjnECuIKHEnD+sAsE0V3Igyd+/wa4DyirSy2YGFnzQ55YorySDvh/mNohHnVLdvE09SFGHPZDdQr5KznoeMuAZ7WTBj5X/DTX2H+aNHnNgEqGQG9ZuL+riZndjJkYVDWMPbZzhLV3c+46QCdtHDowOAtl93BWVk8IQLpDkDU49tgEYp8JeFVm/XG8q7pgyJmSHN8LKO4m1K3SEWdjSH47NxwX/0Mwc/1vUllIp/5S+VJHh8onsS6saxOSWhG4R3MN/p/ZtTYq/ElOrAQ=="/>
    <add name="CardStoreConnectionStrings" connectionString="sCOi1OraJ3skEPGKdm1Tdu8bt5seGL23auIAEo7bc1CCCEB8/mYBlqGz2u0/p6Oev2p6RCXQVtywRXu/yLfcYZrQMpe0N3IGK0gyVqexfNSRXac1ngtwVTv26xxzwea54HImxpg3nzzY5F3N0/TuVYbD293YvRk4/XXjS4/IeTQ02MmKBUd/jz88il3Jjm9YAMNuH+RDqPVXazX4b8RVsloC5Nv1y7k3EagTcXaq2q2AT4uLGXxFtC2UnWY9cuEPeSbR6o1jJ5w4IZ6KRhmHLa0UNd+H+nAxuQUN73c5rLV2Snt2j42MRWENMbWFbVUZ"/>
    <add name="CardStoreReportConnectionStrings" connectionString="sCOi1OraJ3skEPGKdm1Tdu8bt5seGL23auIAEo7bc1CCCEB8/mYBlqGz2u0/p6Oev2p6RCXQVtywRXu/yLfcYZrQMpe0N3IGK0gyVqexfNSRXac1ngtwVTv26xxzwea54HImxpg3nzzY5F3N0/TuVYbD293YvRk4/XXjS4/IeTQ02MmKBUd/jz88il3Jjm9YAMNuH+RDqPVXazX4b8RVsloC5Nv1y7k3EagTcXaq2q2AT4uLGXxFtC2UnWY9cuEPeSbR6o1jJ5w4IZ6KRhmHLa0UNd+H+nAxuQUN73c5rLV2Snt2j42MRWENMbWFbVUZ"/>
    <add name="VPGMOMOConnectionStrings" connectionString="a5mcZ51HXAOLeMBelDhTfHhAq3HPPpPXrNMnmx+TTszZ8O+OtfjGzQhxgr1G+9tPxjoOs7kioBxaT0VYlOtIPwcNWppt3zab5qj8ytxcVQ+UbNsoSs81vpie3lcVg+31rKuKOxZEZHs4PtHNTXzU0Dvv61De2lv0i4YUvadSIukfmqywnHmD+ASdo2pQnWkrgsR2AP7ADTevkXMcKdCD9ELe82O04AdwReJB/unYC0TJ5Gbg9hpU3/skRbMRy+kaypM0UPUsYagwlDMJgTV75q7aiuFtNcb/99KloaQL+Wcu5hqe9SFHWKx76BE8Vq2N"/>
    <add name="VPGBankConnectionStrings" connectionString="LhHIKAuaC6Dr17NOB2omypcxyN13vzwFgcQ/vNodRRE3IlCLLsDJ+FarbXejwUXWuHZqTEk7cEDyR/sK7jLyYf56BueR3IFHWKwQF0X5vJMF3bI3N4PBlkJuH5B1NHRFMgAYNX6J4KRb0bSwRamTHt5dvLhlBC2UsQtoMdvO6f2BN0f07TN7H6y2L1lAj75SeM2mdKlgeO/v/0LFGf02Wr/C28ka1DPjW+6Q6mLF63i6ikIxbzNpqJua8hVqXJN7omNwT6UJ3a6yycZqHa2XhcQL6RPyEgrt+LDwgo0F0GXxp51V9EY7RzcyTq4GLmXT"/>
    <add name="CaptchaReportConnectionStrings" connectionString="jIpzAQfQgBxJR/Cpm5jKjScei146+kmcDYKg0BAZOOQ4QSRZu0mdR0ikUHvU15+zKtFuS10hpKHX2Abvl4MXLQN19EJG+7TkLZ8TVogE+JXa+XxQnqSdA2P87KuJiPT85wEAIrg4qt1Ip3arXtkAa5Dba2wrmIDgGleadLBOQr7P8PxrV0rk6lGMpZpuw5lbRrdxmaB60zKdpbQFpJ6FBcWJ8EcWIjLqZ8p00v2C6RCHxw8zydPH2j1a80eKrqk00cngBIgTJA/v/TwPpdhTfikqwQSHfjZh/DZns1h86QvjdcUXe1CH8eGVb9qol7sT"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="20480"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--<runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>