<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="HOME_ROOT" value="http://localhost:4378/bankgate/"/>
    <!--2013-11-08: VTC Pay-->
    <!--<add key="VTCPay_Url" value="https://pay.vtc.vn/cong-thanh-toan/checkout.html"/>
    <add key="VTCPay_WebsiteID" value="609"/>
    <add key="VTCPay_SecretKey" value="127E14b09c8c46AC8fcd2e3c17e0418F"/>
    <add key="VTCPay_VGGBilling_Url" value="http://10.10.6.9:1281/VGGBilling.asmx"/>
    <add key="VTCPay_VGGBilling_Key" value="36451137b56ec18cf7c713569c1a3968"/>
    <add key="VTCPay_ReceiveAccount" value="0946921181"/>-->
    <!--Sandbox-->
    <add key="VTCPay_Url" value="https://pay.vtc.vn/cong-thanh-toan/checkout.html"/>
    <add key="VTCPay_WebsiteID" value="571"/>
    <add key="VTCPay_SecretKey" value="127E14b09c8c46AC8fcd2e3c17e0418F"/>
    <add key="VTCPay_ReceiveAccount" value="0938838688"/>
    <add key="VTCPay_VGGBilling_Url" value="http://api.sandbox.vgg.vn/VGGInternal/VGGBilling.asmx"/>
    <add key="VTCPay_VGGBilling_Key" value="72351137b56ec18cf7c703569c1a3042"/>
    <!--End VTC Pay-->
    <!--2013-11-14: Smartlink-->
    <add key="Smartlink_UrlCheckOut" value="https://payment.smartlink.com.vn/gateway/vpcpay.do"/>
    <add key="Smartlink_Version" value="2.0"/>
    <add key="Smartlink_Locale" value="vn"/>
    <add key="Smartlink_Command" value="pay"/>
    <add key="Smartlink_Currency" value="VND"/>
    <add key="Smartlink_Merchant" value="VGG"/>
    <add key="Smartlink_AccessCode" value="V1G2G3"/>
    <add key="Smartlink_SecretKey" value="9F6F390C9F79FB8FB57A03077858C876"/>
    <add key="Smartlink_ReturnURL" value="https://api.vgg.vn/bankgate/pages/smartlink/smartlink.return.aspx"/>
    <add key="Smartlink_BackURL" value="https://id.vgg.vn/nap-gg/nap-qua-ngan-hang-vi-dien-tu/"/>
    <!--Sandbox-->
    <!--<add key="Smartlink_Merchant" value="SMLTEST"/>
    <add key="Smartlink_AccessCode" value="ECAFAB"/>
    <add key="Smartlink_SecretKey" value="198BE3F2E8C75A53F38C1C4A5B6DBA27"/>
    <add key="Smartlink_ReturnURL" value="http://localhost:4378/bankgate/pages/smartlink/smartlink.return.aspx"/>
    <add key="Smartlink_BackURL" value="https://id.vgg.vn/nap-gg/nap-qua-ngan-hang-vi-dien-tu/"/>-->
    <!--End Smartlink-->
    <!--2013-11-16: Bao Kim-->
    <add key="BaoKim_UrlCheckOut" value="https://www.baokim.vn/payment/order/version11"/>
    <add key="BaoKim_Business" value="thanhtoan@vgg.vn"/>
    <add key="BaoKim_MerchantID" value="11469"/>
    <add key="BaoKim_ReturnURL" value="http://localhost:4378/bankgate/pages/baokim/baokim.return.aspx"/>
    <add key="BaoKim_Key" value="55e39f1438ccefe1"/>
    <!--End Bao Kim-->
    <!--2013-12-05: Ngan Luong-->
    <add key="NganLuong_UrlCheckOut" value="https://www.nganluong.vn/checkout.api.nganluong.post.php"/>
    <add key="NganLuong_Merchant_id" value="31656"/>
    <add key="NganLuong_Merchant_Password" value="fB95016582Afa0b78C"/>
    <add key="NganLuong_Version" value="3.1"/>
    <add key="NganLuong_Function" value="SetExpressCheckout"/>
    <add key="NganLuong_Receiver_email" value="thanhtoan@vgg.vn"/>
    <add key="NganLuong_Payment_method" value="NL"/>
    <add key="NganLuong_Payment_type" value="1"/>
    <add key="NganLuong_Time_limit" value="1440"/>
    <add key="NganLuong_Return_url" value="http://localhost:4378/bankgate/pages/nganluong/nganluong.return.aspx"/>
    <add key="NganLuong_Cancel_url" value="http://localhost:4378/bankgate/pages/nganluong/nganluong.cancel.aspx"/>
    <!--End Ngan Luong-->
    <!--2013-11-25: SohaPay-->
    <add key="SohaPay_UrlCheckOut" value="https://sohapay.com/payment.php"/>
    <add key="SohaPay_Site_code" value="u955197"/>
    <add key="SohaPay_Secure_secret" value="a97679ab515c99c00a6c"/>
    <add key="SohaPay_Version" value="2"/>
    <add key="SohaPay_Language" value="vi"/>
    <add key="SohaPay_Payment_type" value="6"/>
    <!--Ví điện tử SohaPay-->
    <add key="SohaPay_Return_url" value="http://localhost:4378/bankgate/pages/sohapay/sohapay.return.aspx"/>
    <!--End SohaPay-->
    <!--2014-01-03: BankNet Sandbox-->
    <!--<add key="BankNet_MerchantName" value="VGG"/>
    <add key="BankNet_MerchantCode" value="011013"/>
    <add key="BankNet_WebserviceUrl" value="http://sandbox.bndebit.vn/pg2705/services/PaymentGateway.PaymentGatewayHttpSoap11"/>
    <add key="BankNet_MerchantTransKey" value="555677oxt42d04dc44446dxx11134253"/>
    <add key="BankNet_UrlReturn" value="http://api.sandbox.vgg.vn/bankgate/pages/banknet/banknet.return.aspx"/>-->
    <!--End BankNet-->
    <!--2014-02-24: BankNet-->
    <add key="BankNet_MerchantName" value="VGG"/>
    <add key="BankNet_MerchantCode" value="010078"/>
    <add key="BankNet_WebserviceUrl" value="https://online.banknetvn.com.vn/pg/services/PaymentGateway.PaymentGatewayHttpSoap11Endpoint"/>
    <add key="BankNet_MerchantTransKey" value="ofuodj#$AHB54@&amp;pdhmn"/>
    <add key="BankNet_UrlReturn" value="https://api.vgg.vn/bankgate/pages/banknet/banknet.return.aspx"/>
    <!--End BankNet-->
  </appSettings>
  <connectionStrings>
    <add name="VPGAPIConnectionStrings" connectionString="ZGAFboRcIv+MXZbfeXNm2sD/NEJn3q3brKSUP9ySjmvj9XLQZ4O0u3Td0AUznJWssO69lqcP2COIJ7hlPlUA2apicuTlv3R953XH+A8UbJEYJOrKJiE06vMfzdZ85M5H3MXiwUIN2lCT60xDlt7GibOigSSRyQ07KE3yABjjULc="/>
    <add name="VPGLogConnectionStrings" connectionString="zfY/OKPh8uYtHRPKku9MUHdkS1NG9UP9v3uBLR9gAC3PsBdyXU/BCzNFV3lgYwa73AgtbVCXGs1TOr3Wr4Ss41AxwPqUCYUaps3Dw/xEKiWbgDpa7YzEfnMXaKNJz/siF6XR/AS5a2wxVt6yhcS6V6alp3P/UDo2Vqyvyn6ofoQ="/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>