@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
.step_block ul li p {
    display: block;
    font-family: 'Conv_UTM Alter Gothic', Tahoma, Geneva, sans-serif;
    color: #4a4a4a;
    line-height: 45px;
    font-size: .6rem;
    text-transform: uppercase;
}
.step_block ul li p strong{
	font-size: .8rem;
}
}
